@font-face {
    font-family: 'Galano';
    src: url('./fonts/GalanoGrotesqueAltLight.otf');
    font-weight: 100;
}

@font-face {
    font-family: 'Galano';
    src: url('./fonts/GalanoGrotesqueAltRegular.otf');
    font-weight: 200;
}

@font-face {
    font-family: 'Galano';
    src: url('./fonts/GalanoGrotesqueAltMedium.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'Galano';
    src: url('./fonts/GalanoGrotesqueAltSemiBold.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Galano';
    src: url('./fonts/GalanoGrotesqueAltBold.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Galano';
    src: url('./fonts/GalanoGrotesqueAltHeavy.otf');
    font-weight: 600;
}