/* HEADER-Bereich */
#header {
    position: absolute; /* Absolut über das Video legen */
    top: 0; /* Ganz oben im Viewport */
    left: 0;
    width: 100%; /* Über die gesamte Breite */
    z-index: 3; /* Über dem Video und dem Verlauf */
    background: none; /* Kein Hintergrund, um das Video sichtbar zu halten */
}

.header-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: center; /* Zentriert das Logo */
    align-items: center; /* Vertikal zentrieren */
    position: relative;
}

.logo {
    margin-top: 30px;
    width: 240px;
    height: 110px;
}

.hamburger {
    position: absolute; /* Entfernt den Hamburger aus dem Flexfluss */
    top: 50px; /* Positionierung am oberen Rand */
    right: 10px; /* Abstand vom rechten Rand */
    width: 60px;
    height: 60px;
}


/* xs */
@media (min-width: 475px) {
    
}

/* sm */
@media (min-width: 640px) {

    .logo {
        
    }
   
}

/* md */
@media (min-width: 768px) {
   
}

/* lg */
@media (min-width: 1024px) {
    
}

/* xl */
@media (min-width: 1280px) {
    
}

/* xxl */
@media (min-width: 1536px) {
    
}