#header {
    background-position: center;
    background-size: cover;
}   

.header-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: center; /* Zentriert das Logo zunächst */
    align-items: center; /* Vertikal zentrieren */
    position: relative; /* Ermöglicht absolute Platzierung des Hamburgers */
}

.logo {
    margin-top: 30px;
    width: 240px;
    height: 110px;
    stroke: black;
    stroke-width: 2px;
    border: 1px solid red;
}

.hamburger {
    position: absolute; /* Entfernt den Hamburger aus dem Flexfluss */
    top: 50px; /* Positionierung am oberen Rand */
    right: 10px; /* Abstand vom rechten Rand */
    width: 60px;
    height: 60px;
    stroke: black;
    stroke-width: 2px;
    border: 1px solid red;
}



/* xs */
@media (min-width: 475px) {
    
}

/* sm */
@media (min-width: 640px) {

    .logo {
        
    }
   
}

/* md */
@media (min-width: 768px) {
   
}

/* lg */
@media (min-width: 1024px) {
    
}

/* xl */
@media (min-width: 1280px) {
    
}

/* xxl */
@media (min-width: 1536px) {
    
}