.logo {
    margin-top: 10px;
    width: 240px;
    height: 110px;
    stroke: black;
    stroke-width: 2px;
    border: 1px solid red;
}

#BVB {
    padding-top: 30px;
    width: 100vw; /* 100% der Viewport-Breite */
    height: max-content; /* Höhe einstellen */
    overflow: hidden; /* Überflüssige Bildteile ausblenden */
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Zentriere das Bild */
}

.textpic {
    padding-top: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#BVB::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
    linear-gradient(rgb(0, 0, 0) 12%, rgba(255, 255, 255, 0) 70%); /* Linearer Gradient von oben nach unten
    linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%);  Linearer Gradient von unten nach oben*/
    z-index: 1;
}

.hamburger {
    margin-top: 30px; 
    width: 70px;
    height: 70px;
    stroke: black;
    stroke-width: 2px;
    border: 1px solid red;
}
/* xs */
@media (min-width: 475px) {
    
}

/* sm */
@media (min-width: 640px) {
   
}

/* md */
@media (min-width: 768px) {
   
}

/* lg */
@media (min-width: 1024px) {
    
}

/* xl */
@media (min-width: 1280px) {
    
}

/* xxl */
@media (min-width: 1536px) {
    
}