body {
    font-family: galano, sans-serif;
    color: white;
}

body{
    background-color: black;
}

/* Standard-Margins und Padding entfernen */
body {
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid red;
}

#header {
    background-position: center;
    background-size: cover;
}   

.header-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid red;
    display: flex;
    /* Flexbox aktivieren 
    justify-content: space-between;
    /* Platz zwischen Logo und Hamburger 
    align-items: center;
    /* Vertikale Zentrierung */
}

.header-container, .logo {
    align-items: center;
}

.header-container, .hamburger {
    justify-content: right;
}



#calltoaction {
    display: flex;
    flex-direction: column; /* Inhalt vertikal anordnen */
    align-items: center;    /* Horizontal zentrieren */
    justify-content: center; /* Vertikal zentrieren */
    text-align: center;      /* Text zentrieren */
    padding: 20px;           /* Optional: Abstand nach innen */
}

#calltoaction button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(255, 255, 255); /* Ursprüngliche Hintergrundfarbe */
    border: 3px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease; /* Weicher Übergang beim Hover */
    font-family: judson;
}

#calltoaction button:hover {
    background-color: rgb(255, 255, 255); /* Ändere den gesamten Hintergrund auf weiß */
    color: black; /* Ändere die Textfarbe auf schwarz */
}

#buttonbackground {
    background-color: white;
    width: 100%;
    height: 100px;
}


.space{
    padding-top: 200px;
}

/* xs */
@media (min-width: 475px) {
    .container,
    .header-container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .container,
    .header-container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .container, 
    .header-container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container, 
    .header-container {
        max-width: 1024px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container, 
    .header-container {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container, 
    .header-container {
        max-width: 1536px;
    }
}