* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Galano', sans-serif;
    color: white;
    background-color: black;
    overflow-x: hidden;
}

.video-background-container {
    position: relative;
    display: flex;
    flex-direction: column; /* Vertikalel ausgerichtet */
    justify-content: flex-end;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    /*border: 1px solid red;*/
    margin-top: 0px;
}

.video-background-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(rgb(0, 0, 0) 22%, rgba(0, 0, 0, 0) 70%),
        linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 80%);
    z-index: 1;
    /* Stellt sicher, dass der Verlauf über dem Video liegt */
    pointer-events: none;
    /* Macht das Pseudo-Element nicht anklickbar */
}

.video-background-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
}

.overlay-content {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    padding-bottom: rem;
}

.statement {
    display: flex;
    flex-direction: column;
}

/* pop-up-elemente */
.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* pop-up-elemente */
.show {
    opacity: 1;
    transform: translateY(0);
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


#calltoaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
}

.buttonbackground {
    background-color: white;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    left: 0;
}

#action-button {
    cursor: pointer;
    transition: transform 0.2s ease;
}

#calltoaction button {
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Galano", sans-serif;
    margin: 0 auto;
}

#calltoaction button a {
    font-weight: 400;
}

#calltoaction button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#calltoaction .description {
    max-width: 600px;
    margin-bottom: 20px;
    text-align: center;
}

.fan-statement {
    background-color: #000000; /* Heller Hintergrund */
    border: 3px solid #ffffff; /* Grauer Rand */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Schatten für Tiefe */
    width: 67%;
    max-width: 785px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.quote {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
    color: #afafaf;
}

.fan-info {
    display: flex;
    align-items: center;
}

.fan-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%; /* kreisausschnitt */
    object-fit: cover;
    margin-right: 15px;
    border: 2px solid #ddd;
}

.fan-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fan-name {
    font-weight: bold;
    font-size: 1rem;
    color: #484848;
}

.fan-role {
    font-size: 0.9rem;
    color: #333;
}




/* xs */
@media (min-width: 475px) {

    .video-background-container::before {
        background:
            linear-gradient(rgb(0, 0, 0) 12%, rgba(0, 0, 0, 0) 70%),
            linear-gradient(rgba(0, 0, 0, 0) 60%, rgb(0, 0, 0) 80%);
    }

    .video-background-container {
        margin-top: 20px;
    }

    .overlay-content {
        padding-bottom: 11rem;
    }
}

/* sm */
@media (min-width: 640px) {

    .video-background-container::before {
        background:
            linear-gradient(rgb(0, 0, 0) 12%, rgba(0, 0, 0, 0) 70%),
            linear-gradient(rgba(0, 0, 0, 0) 60%, rgb(0, 0, 0) 100%);
    }

    .overlay-content {
        padding-bottom: 2rem;
    }
}

/* md */
@media (min-width: 768px) {}

/* lg */
@media (min-width: 1024px) {
    .statement {
        flex-wrap: wrap;
        /* elemente umbrechen lassen */
        flex-direction: row;
        /* in einer Reihe */
        justify-content: center;
    }

    .statement-item {
        width: calc(50% - 3rem);
        /* zwei bilder pro reihe mit abstand */
        margin-left: -1rem;
        margin-right: -1rem;
    }



}

/* xl */
@media (min-width: 1280px) {

    #quer {
        display: block !important;
    }

    #hochkant {
        display: none !important;
    }

}

/* xxl */
@media (min-width: 1536px) {}