.header-head-text {
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 1.2;
}

.header-text {
    font-weight: 200;
    padding-bottom: 10px;
}

.statements-header {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

.statement-headtext {
    width: 80%;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 17px;
}

.statement-text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
    font-size: 13px;
    margin-bottom: 20px;
}

.problem-header {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 20px;
}

.problem-headtext {
    width: 80%;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 20px;
}

.problem-text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
    font-size: 13px;
    margin-bottom: 20px;
    max-width: 800px;
    /* Maximale Breite, z.B. 800px */
}


.description {
    font-weight: 100;
}

.bold {
    font-weight: 400;
}

.description {
    width: 80%;
    font-weight: 200;
    max-width: 600px;
    /* Optional: Maximale Breite für bessere Lesbarkeit */
    margin-bottom: 20px;
    /* Abstand unter dem Text */
}

/* xs */
@media (min-width: 475px) {}

/* sm */
@media (min-width: 640px) {}

/* md */
@media (min-width: 768px) {}

/* lg */
@media (min-width: 1024px) {}

/* xl */
@media (min-width: 1280px) {}

/* xxl */
@media (min-width: 1536px) {}