.header-head-text {
    font-size: 45px;
    margin-top: 20px;
    font-weight: 600;
}

.header-text {
    font-weight: 300;
}

.nonheader-text {
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
}

.description {
    font-weight: 100;
}

#calltoaction .description {
    font-weight: 200;
    max-width: 600px; /* Optional: Maximale Breite für bessere Lesbarkeit */
    margin-bottom: 20px; /* Abstand unter dem Text */
    
}



/* xs */
@media (min-width: 475px) {
    
}

/* sm */
@media (min-width: 640px) {
   
}

/* md */
@media (min-width: 768px) {
   
}

/* lg */
@media (min-width: 1024px) {
    
}

/* xl */
@media (min-width: 1280px) {
    
}

/* xxl */
@media (min-width: 1536px) {
    
}